<section>
    <img src="~/images/ScrollAboutUs/bg.jpg" />
    <img src="~/images/ScrollAboutUs/moon.png" />
    <img src="~/images/ScrollAboutUs/mountain.png" />
    <img src="~/images/ScrollAboutUs/road.png" />
    <h2 id="text">WebMultimedia</h2>
</section>